*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FED18C;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #3D405B;
    text-align: center;
    margin: 30px;
    justify-content: center;
}

.tablero{
    background-color: #F4F1DE;
    width: 150px;
    height: 150px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 450px;
    margin: auto;
}

#nuevoContador{
    border-radius: 10px;
    width: 150px;
    margin-top: 30px;
    cursor: pointer;
}

#nuevoContador:hover{
    background-color: #FC5130;
}

@media (max-width: 426px){
    .container{
        width: 300px;
    }
    .tablero{
        width: 100px;
        height: 100px;
    }
}